<footer class="site-footer" id="colophon" itemtype="https://schema.org/WPFooter" itemscope="itemscope" itemid="#colophon">

			
			
<div class="footer-adv footer-adv-layout-4">
	<div class="footer-adv-overlay">
		<div class="ast-container">
			<div class="ast-row">
				<div class="ast-col-lg-3 ast-col-md-3 ast-col-sm-12 ast-col-xs-12 footer-adv-widget footer-adv-widget-1">
					<div id="block-18" class="widget widget_block widget_media_image">
<figure class="wp-block-image size-large is-resized"><img decoding="async" loading="lazy" src="https://ibthm.in/wp-content/uploads/2022/02/ibthm_white-1024x515.png" alt="" class="wp-image-25627" width="198" height="99" srcset="https://ibthm.in/wp-content/uploads/2022/02/ibthm_white-1024x515.png 1024w, https://ibthm.in/wp-content/uploads/2022/02/ibthm_white-300x151.png 300w, https://ibthm.in/wp-content/uploads/2022/02/ibthm_white-768x386.png 768w, https://ibthm.in/wp-content/uploads/2022/02/ibthm_white-1536x773.png 1536w, https://ibthm.in/wp-content/uploads/2022/02/ibthm_white-2048x1030.png 2048w" sizes="(max-width: 198px) 100vw, 198px"></figure>
</div>				</div>
				<div class="ast-col-lg-3 ast-col-md-3 ast-col-sm-12 ast-col-xs-12 footer-adv-widget footer-adv-widget-2">
					<div id="nav_menu-3" class="widget widget_nav_menu"><h2 class="widget-title">Quick Links</h2><nav class="menu-primary-menu-container" aria-label="Quick Links"><ul id="menu-primary-menu" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-25066 current_page_item menu-item-1510"><a href="https://ibthm.in/" aria-current="page">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25782"><a href="https://ibthm.in/gallery/">Gallery</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25201"><a href="https://ibthm.in/result/">Certificate Verification</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1506"><a href="https://ibthm.in/contact/">Contact</a></li>
</ul></nav></div>				</div>
				<div class="ast-col-lg-3 ast-col-md-3 ast-col-sm-12 ast-col-xs-12 footer-adv-widget footer-adv-widget-3">
					<div id="block-14" class="widget widget_block"><h4 class="footer_contact">Contact Us</h4>
<p><a href="tel:+91-9971920408"><i class="fa fa-phone-alt"></i> +91-997-192-0408</a></p>
<p><a href="https://wa.me/919418969209"><i class="fa fa-whatsapp"></i> +91-941-896-9209</a></p>
<p><a href="mailto:info@ibthm.in"><i class="fa fa-envelope"></i> info@ibthm.in</a></p>
</div>				</div>
				<div class="ast-col-lg-3 ast-col-md-3 ast-col-sm-12 ast-col-xs-12 footer-adv-widget footer-adv-widget-4">
					<div id="block-16" class="widget widget_block"><h4 class="footer_social">Social Media</h4>
<p><a href="https://www.facebook.com/ibthmhamirpur"><i class="fa fa-facebook"></i> facebook</a></p>
<p>
<a href="http://www.instagram.com/ibthmhamirpur"><i class="fa fa-instagram"></i> Instagram</a></p>
<p><a href="https://www.youtube.com/channel/UCrnlsDJbvPbh_OUA07T5M1w"><i class="fa fa-youtube"></i> Youtube</a></p>

<p><a href="https://twitter.com/IbthmH"><i class="fa fa-twitter"></i> Twitter</a></p></div>				</div>
			</div><!-- .ast-row -->
		</div><!-- .ast-container -->
	</div><!-- .footer-adv-overlay-->
</div><!-- .ast-theme-footer .footer-adv-layout-4 -->

<div class="ast-small-footer footer-sml-layout-1">
	<div class="ast-footer-overlay">
		<div class="ast-container">
			<div class="ast-small-footer-wrap">
									<div class="ast-small-footer-section ast-small-footer-section-1">
						Copyright © 2024 <a class="footer_site" href="/">IBTHM</a> 
<br> Designed and Developed By <a href="https://www.elitbros.com/" rel="nofollow noopener noreferrer">elitbros Technologies</a>					</div>
				
				
			</div><!-- .ast-row .ast-small-footer-wrap -->
		</div><!-- .ast-container -->
	</div><!-- .ast-footer-overlay -->
</div><!-- .ast-small-footer-->

			
		</footer>