<a data-lg-size="1600-1067" class="gallery-item" data-src="{{ fields.field_media_image_1.content }}">
          <img alt="layers of blue." class="img-responsive" src="{{ fields.field_media_image.content }}" />
        </a>